.wrapper_form {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.form {
    width: 444px;
    height: 584px;
    background: #ffffff;
    padding: 30px 60px;
    position: relative;
}

.form:after {
    content: "";
    height: 18px;
    width: 18px;
    background: #3CB878;
    position: absolute;
    top: 29px;
    left: 0;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_text {
    font-size: 20px;
    line-height: 20px;
}

.title_linc {
    color: #3CB878;
}

.button {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}


.button_reg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_reg {
    width: 158px;
    height: 45px;
    border-radius: 4px;
    background: #305DB8;
    padding: 0 20px 0 15px;
    position: relative;
}

.button_reg:after {
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    position: absolute;
    left: 50px;
}

.button_reg p {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.google.button_reg {
    background: #DF4A32;
}

.title_select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 11px;
    color: #848484;
    text-align: center;
}

.title_select:before {
    content: "";
    margin-right: 5px;
    height: 1px;
    width: 100%;
    background: #F2F2F2;

}

.title_select:after {
    content: "";
    margin-left: 5px;
    height: 1px;
    width: 100%;
    background: #F2F2F2;
}

.input {
    margin-bottom: 15px;
    width: 324px;
    height: 45px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
    color: #434343;
}

.input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.label_checkbox {
    display: flex;
    justify-content: left;
    align-items: center;
}

.input::placeholder {
    color: #BEBEBE;
}

.checkbox {
    width: 20px;
    height: 20px;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

.checkbox:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../img/checkbox/checkbox_vector_1.svg") 0 0 no-repeat;
    opacity: 0;
}

.checkbox:checked:after {
    opacity: 1;
    transition: 200ms;
}

.checkbox_text {
    margin-left: 8px;
}

.checkbox_text a {
    color: #3CB878;
}

.button_create {
    padding: 16px 0;
    width: 100%;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: transform 200ms;
}

.title_linc:hover {
    transition: 200ms;
    color: #01813F;
}

.facebook:hover {
    transition: 200ms;
    background: #022263;
}

.google:hover {
    transition: 200ms;
    background: #AB1F09;
}

.checkbox_linc:hover {
    transition: 200ms;
    color: #01813F;
}

.button_create:hover {
    transition: 200ms;
    transform: scale(1.01);
    background: #01813F;
}